main {
  padding: 0 16px;
  width: 100%;
}

.site-commonnav {
  margin-top: 2em;
}

dt {
  color: #666;
  margin-top: 0.5em;
}

dd > dl > dt {
  color: #000;
  font-weight: normal;
  font-style: italic;
}

.default {
  color: #777;
  font-size: 0.88em;
}

hr {
  margin-top: 1.5em;
}
